<?xml version="1.0" encoding="UTF-8"?>
<!-- The root node for Magento module configuration -->
<config>
    <modules>
        <D4DL_OrderInspector>
            <version>0.0.1</version>
        </D4DL_OrderInspector>
    </modules>
    <global>
        <models>
            <d4dl_orderinspector>
                <class>D4DL_OrderInspector_Model</class>
            </d4dl_orderinspector>

        </models>
        <events>
            <!-- -->
            <sales_order_place_after>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_invoice_pay>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </sales_order_invoice_pay>
            <checkout_onepage_controller_success_action>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_order_payment_capture>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </sales_order_payment_capture>
            <sales_order_invoice_register>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </sales_order_invoice_register>
            <checkout_cart_add_product_complete>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </checkout_cart_add_product_complete>
            <catalog_product_save_after>
                <observers>
                    <d4dl_orderinspector>
                        <class>d4dl_orderinspector/observer</class>
                        <method>processEvent</method>
                        <type>singleton</type>
                    </d4dl_orderinspector>
                </observers>
            </catalog_product_save_after>
        </events>

    </global>
</config>
