<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * @category    D4DL
 * @package     D4DL_ResourceWatch
 * @copyright   Copyright (c) 2016 DeFord Logistics
 */
-->
<config>
    <sections>
        <resourcewatch translate="label" module="resourcewatch">
            <label>D4DL ResourceWatch</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Resource Watch Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <d4dl_resource_watch_endpoint translate="label,comment">
                            <label>Endpoint.</label>
                            <comment><![CDATA[The d4dl service endpoint.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </d4dl_resource_watch_endpoint>
                        <d4dl_resource_watch_username translate="label,comment">
                            <label>Username.</label>
                            <comment><![CDATA[The d4dl service endpoint username.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </d4dl_resource_watch_username>
                        <d4dl_resource_watch_password translate="label,comment">
                            <label>Password.</label>
                            <comment><![CDATA[The d4dl service endpoint password.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </d4dl_resource_watch_password>
                        <d4dl_resource_watch_process_key translate="label">
                            <label>Process Key</label>
                            <frontend_type>text</frontend_type>
                            <comment>The key for the workflow process that will process watched orders.</comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </d4dl_resource_watch_process_key>
                    </fields>
                </settings>
            </groups>
        </resourcewatch>
    </sections>
</config>
